body {
  background-color: red;
}

@media (min-width: 768px) {
  body {
    background-color: lightsalmon;
  }
}
@media (min-width: 992px) {
  body {
    background-color: salmon;
  }
}
.carousel-item img {
  height: 400px;
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 100px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .carousel-item img {
    height: 100px;
    width: 700px;
  }
}
.div.contacto-l {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
  top: 0;
  gap: 15px;
  margin: 20px 0;
  cursor: pointer;
}

@media (min-width: 721px) {
  header {
    flex-direction: row;
    position: sticky;
    opacity: 0.9;
  }
}
header img {
  border-radius: 70px;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media (min-width: 600px) {
  nav ul {
    flex-direction: row;
  }
}
.menu li a:hover {
  background-color: red;
  color: black;
}

.menu li:active {
  background-color: red;
}

li a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  font-size: x-large;
  padding: 5px 10px;
  gap: 40px;
}

.imagenes-inicio {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

img {
  max-width: 100%;
  border-radius: 70px;
  margin: 10px;
}

.parrafo-inicio {
  top: 1000px;
  left: 640px;
  color: white;
  font-size: x-large;
}

@media (min-width: 768px) {
  .parrafo-inicio {
    text-align: center;
    position: absolute;
    top: 1000px;
    left: 640px;
    color: black;
    font-size: x-large;
  }
}
.carousel-item img {
  height: 280px;
}

@media (min-width: 690px) {
  .carousel-item img {
    height: 400px;
  }
}
#carouselExampleDark {
  width: 80%;
  margin: 0 auto;
}

.cards-todas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cards-todas img {
  border: solid 2px whitesmoke;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

button {
  border: none;
  padding: 5px;
  font-size: bold;
  cursor: pointer;
  border-radius: 25PX;
  background-color: rgb(243, 43, 43);
}

form {
  font-size: larger;
  font-size: large;
  font-style: italic;
}

h3 {
  text-align: center;
  font-size: large;
  margin: 10px;
  padding: 15px 0px;
}

.contacto-l {
  font-size: larger;
  font-size: large;
  font-style: italic;
}

.contacto {
  font-weight: bold;
}

button {
  border: none;
  padding: 5px;
  font-size: bold;
  cursor: pointer;
  border-radius: 25PX;
  background-color: rgb(243, 43, 43);
}

form {
  font-size: larger;
  font-size: large;
  font-style: italic;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: large;
  margin: 10px;
  padding: 15px 0px;
}

.contacto-l {
  font-size: larger;
  font-size: large;
  font-style: italic;
  text-align: center;
}

.contacto {
  font-weight: bold;
}

.historia-img img {
  width: 550px;
  height: 450px;
  padding: 30px;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .historia-img {
    flex-direction: row;
    display: flex;
    width: 600px;
    height: 500px;
    padding: 30px;
    margin: 10px;
  }
}
.parrafo-historia {
  font-size: larger;
  font-size: x-large;
  font-style: italic;
  color: white;
  margin: 10px 0;
  padding: 10px;
}

@media (min-width: 768px) {
  .parrafo-historia {
    top: 1000px;
    left: 640px;
    color: black;
    font-size: x-large;
    margin: 20px 0;
    padding: 30px;
  }
}
h1 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cards:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
