button {
    border: none;
    padding: 5px;
    font-size: bold;
    cursor: pointer;
    border-radius: 25PX;
    background-color: rgb(243, 43, 43);
}

form {
    font-size: larger;
    font-size: large; 
    font-style: italic; 
    text-align: center;
}

h3 {
    text-align: center;
    font-size: large;
    margin: 10px;
    padding: 15px 0px;
}

.contacto-l {
    font-size: larger;
    font-size: large; 
    font-style: italic; 
    text-align: center;
}

.contacto {
    font-weight: bold;
}
