.carousel-item img {
    height: 280px;
}
@media (min-width: 690px) {
    .carousel-item img {
        height: 400px;
    }
}

#carouselExampleDark {
    width: 60%;
    margin: 0 auto;
}

#carouselExampleDark p {
    color: white;
}