$color-primario: red;
$color-secundario: lightsalmon;
$color-terciario: salmon;

$fuente-chica: 14px;
$fuente-media: 20px;
$icono-chico: 40px;
$icono-grande: 60px;

$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;

$spacio-Xchico: 10px;
$spacio-chico: 20px;
$spacio-medio: 40px;
$spacio-grande: 60px;

@mixin flex-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}